STORAGE_ROOT=/data3/xhuan192/

# HF cache directory
HF_HOME=${STORAGE_ROOT}/shared/hf

# Shared data
SHARED_DATA_ROOT=${STORAGE_ROOT}/data

# Keep the uv cache on /fsx so hardlink mode works with project envs there.
UV_CACHE_DIR=${STORAGE_ROOT}/.cache/uv
UV_PYTHON_CACHE_DIR=${STORAGE_ROOT}/.cache/uv/python
UV_PYTHON_INSTALL_DIR=${STORAGE_ROOT}/.local/share/uv/python

# Project storage root
PROJECT_STORAGE_ROOT=${STORAGE_ROOT}/projects/veomni

HF_TOKEN=hf_your_huggingface_token_here
WANDB_API_KEY=wandb_v1_your_wandb_api_key_here
WANDB_PROJECT=veomni
# WANDB_MODE=online # wandb mode: online, disabled, etc.
WANDB_ENTITY=xk-huang # your wandb username

# Use EFA (IB) on AWS for dist training
# NCCL_NET_PLUGIN=ofi

# VeOmni
CACHE_DIR=${STORAGE_ROOT}/.cache/veomni
VEOMNI_VERBOSITY=warn  # debug, info, warn